* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

/* added later */
body {
  overflow-x: hidden;
}

/* NAVIGATION */
header {
  padding: 10px 100px;
  box-sizing: border-box;
  background: #EDEDED;
}

nav {
  width: 100%;
  height: 61px;
  background: rgba(237, 237, 237, 0.8);
  position: sticky;
  top: 0;
  /* fixed nav click problem in Chrome with: */
  z-index: 255;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0 100px;
  float: right;
}

nav ul li a {
  display: block;
  color: #5C5C5C;
  margin: 3px 20px;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Amiko', sans-serif;
  font-weight: 900;
  line-height: 50px;
  padding: 0 5px;
  transition: 0.3s;
}

/* Bottom-border-transition - expand from middle */
nav ul li a::after {
  content: '';
  display: block;
  margin: auto;
  height: 8px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

nav ul li a:hover::after {
  width: 100%;
  background: #e65925;
}

/* 8px line stays on the active tab  */
nav ul li a.active::after {
  width: 100%;
  background: #e65925;
}

/* Mobile Navbar */
.responsive-bar {
  display: none;
}


/* NEWS PAGE STARTS HERE */
.banner-section {
  height: 50vh;
  display: flex;
  align-items: center;
  background-size: cover;
}

.img-wrap {
  position: absolute;
  top: 194px;
  left: 0;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.img-wrap img {
  min-width: 100%;
  min-height: 100%;
}

section .container {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

.header-overlay {
  height: 50vh;
  width: 100%;
  position: absolute;
  top: 194px;
  left: 0;
  background: #5C5C5C;
  z-index: 1;
  opacity: .4;
}

/* Banner message */
.banner-message {
  flex-direction: column;
  z-index: 1;
}

.banner-message h4 {
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  margin-left: 70px;
  text-shadow: 1px 1px 2px grey;
}

.banner-message h2 {
  margin-top: 25px;
  margin-left: 10px;
  font-size: 35px;
  font-family: 'Average', serif;
  font-style: italic;
  font-weight: 200;
  color: white;
  padding: 0 60px;
  text-shadow: 1px 1px 2px grey;
}

.banner-message button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  padding: 15px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 30px 70px;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}

.banner-message button:hover {
  color: #e65925;
  background: white;
  transition: 0.5s;
}

/* .banner-mobile {
  display: none;
} */

/* News page title */
.news-section {
  margin-top: 70px;
}

.news-section h4 {
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #e65925;
}

.news-section h2 {
  margin-top: 25px;
  font-size: 35px;
  font-family: 'Average', serif;
  font-style: italic;
  font-weight: 200;
  color: #515151;
}

.news-section p {
  margin-top: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  color: #848484;
}

/* News blocks */
.news-block-wrapper {
  margin-top: 80px;
}

.news-block-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* width: 100%; */
}

/* News images */
.news-block-row img {
  /* makes image stay intact */
  width: 100%;
  height: auto;
}

.news-block-row img#greyscale {
  filter: grayscale(100%);
}

/* News text part */
.news-block {
  justify-content: center;
  flex-direction: column;
  display: flex;
  margin: 0 60px;
}

.news-block h4 {
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #e65925;
  margin-left: 80px;
}

.news-block h2 {
  margin-top: 25px;
  margin-left: 80px;
  font-size: 35px;
  font-family: 'Average', serif;
  font-style: italic;
  font-weight: 200;
  color: #515151;
}

.news-block p {
  margin: 25px 45px 0 45px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  color: #848484;
  padding: 0 30px;
}

.news-block button {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  padding: 15px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 30px 80px;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
  width: 200px;
}

.news-block button:hover {
  color: white;
  background: black;
  transition: 0.5s;
}

img#smartphone {
  display: none;
}

.banner-mobile {
  display: none;
}

.mobile-news {
  display: none;
}



/* ------------- HIRING PAGE -------------------- */

.img-wrap .news-img {
  filter: grayscale(100%);
}

section.text {
  margin-top: 120px;
}

.paragraphs h4 {
  margin-top: 40px;
}

.paragraphs p {
  margin-top: 25px;
  text-align: justify;
  line-height: 30px;
}

/* Share block */
.share-block {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

.share-block h4 {
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #e65925;
}

.social-icons {
  margin-top: 25px;
}

.social-icons img {
  margin-right: 20px;
  transition-property: all;
  transition-duration: 1s;
}

.social-icons img.l-blue:hover {
  content: url(icons/twitter-white.png);
  cursor: pointer;
  transition: 1s;
  transform: rotateY(180deg);
}

.social-icons img.blue:hover {
  content: url(icons/linkedin-white.png);
  cursor: pointer;
  transition: 1s;
  transform: rotateY(180deg);
}

.social-icons img.orange:hover {
  content: url(icons/email-white.png);
  cursor: pointer;
  transition: 1s;
  transform: rotateY(180deg);
}

/* HACKATHON PAGE */
#seminar {
  width: 100%;
}

/* NEW STAFF page */
.new-staff-mobile {
  display: none;
}

/* HIRING PAGE */

div#hiring-mobile {
  display: none;
}

/* FOOTER */
.footer-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 350px;
  align-items: center;
  background: black;
  border-bottom: 1px solid white;
}

.footer-contact {
  text-align: center;
}

.footer-contact h4 {
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.footer-contact p {
  margin-top: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: white;
}

.footer-follow {
  text-align: center;
}

.footer-follow h4 {
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  text-align: center;
  margin-bottom: 15px;
}

.footer-follow img {
  margin-top: 15px;
  padding-right: 20px;
  background: none;
}

.footer-follow img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}

.quick-links {
  text-align: center;
  margin-bottom: 15px;
}

.quick-links h4 {
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 35px;
}

.quick-links ul li {
  margin-bottom: 10px;
}

.quick-links ul li a {
  font-size: 20px;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: white;
  transition-duration: .3s;
  transition-timing-function: ease-in;
}

.quick-links ul li a:hover {
  font-weight: 400;
  color: #E0E0E0;
  border-bottom: 1px solid #e65925;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e65925;
  margin: 1em 0;
  padding: 0;
  width: 100%;
  background: black;
}

#copyright h5 {
  padding: 15px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: white;
  background: black;
}

/* ------------- MEDIA QUERIES --------------------- */


/* 1024 tablets - Landscape */
@media (max-width: 1400px) {

  /* Navigation 1024 tablets - Landscape */
  nav ul li a {
    font-size: 18px;
  }

  /* Have been stuck with the mobile banner img fow the second day!*/
  /* Banner with message - 1024 tablets - Landscape  */
  .header-overlay {
    display: none;
  }

  .banner-message {
    display: none;
  }

  .img-wrap {
    display: block;
    width: 100%;
    margin: auto;
  }

  .img-wrap img {
    width: auto;
  }

  /* Banner Message 1024 tablets - Landscape*/
  .banner-mobile {
    height: 220px;
    background: #414042;
    justify-content: center;
    flex-direction: column;
    display: flex;
    justify-content: centre;
    flex-direction: column;
  }

  .banner-mobile h4 {
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    margin-top: 18px;
    margin-left: 70px;
    text-shadow: 0 0 0;
  }

  .banner-mobile h2 {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 25px;
    font-family: 'Average', serif;
    font-style: italic;
    font-weight: 200;
    color: white;
    padding: 0 60px;
    text-shadow: 0 0 0;
  }

  .banner-mobile button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
    font-size: 15px;
    padding: 10px 32px;
    margin: 25px 70px;
  }

  .banner-mobile button:hover {
    color: #e65925;
    background: white;
    transition: 0.5s;
  }

  /* News Title 1024 tablets - Landscape */
  .news-section h4 {
    font-size: 20px;
  }

  .news-section h2 {
    font-size: 25px;
  }

  /* News Blocks 1024 tablets - Landscape */
  .news-block h4 {
    font-size: 20px;
    margin: 15px 5px;
    padding: 0 5px;
  }

  .news-block h2 {
    font-size: 25px;
    margin: 15px 5px;
    padding: 0 5px;
  }

  .news-block p {
    font-size: 18px;
    margin: 15px 5px;
    padding: 0 5px;
    text-align: justify;
  }

  /* Blocks Buttons */
  .news-block button {
    font-size: 15px;
    padding: 10px 32px;
    margin: 15px 5px;
  }

  /* News images */
  .news-block-row img {
    /* makes image stay intact */
    width: 100%;
    height: auto;
  }

  .news-block h4 {
    margin-top: 5px;
    margin-left: 10px;
  }

  .news-block h2 {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 22px;
  }

  .news-block p {
    margin-left: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    color: #848484;
  }

  .news-block button {
    font-size: 15px;
    padding: 10px 32px;
    margin: 5px 15px;
  }

  .second-row {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  /* HIRING page */
  .paragraphs p {
    font-size: 18px;
    padding: 0 30px;
  }

  .share-block h4 {
    font-size: 20px;
  }

  .img-wrap .news-img {
    width: 130%;
  }

  section#hiring {
    display: none;
  }

  div#hiring-mobile {
    display: block;
  }

  img.hiring-mobile {
    width: 100%;
    margin: auto;
    position: relative;
    top: -4px;
    left: 0;
  }

  .hiring-wrap img {
    filter: grayscale(100%);
  }


  /* NEW STAFF page */

  .img-wrap .new-staff {
    width: 130%;
  }

  /* FOOTER 1024 tablets - Landscape */
  .footer-wrap {
    min-height: 250px;
  }

  .footer-contact h4 {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .footer-contact p {
    font-size: 18px;
  }

  .footer-follow h4 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .footer-follow img {
    width: 20%;
    height: 20%;
  }

  .quick-links {
    margin-bottom: 25px;
  }

  .quick-links h4 {
    font-size: 20px;
    margin-bottom: 30px;
  }

  ul.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  ul.grid li a {
    font-size: 18px;
  }

  #copyright h5 {
    padding: 20px;
    font-size: 15px;
  }
}

@media (max-width: 800px) {


  /* Mobile Navbar */
  /* .responsive-bar {
  display: block;
  width: 100%;
  background: rgba(237, 237, 237, 0.8);
  padding: 10px 30px;
  box-sizing: border-box;
}

.responsive-bar h4 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #e65925;
  float: right;
  padding: 5px 10px;
  border: 1.5px solid #e65925;
  cursor: pointer;
} */

  /* NEWS page */


  .banner-section {
    display: none;
  }

  .news-block-row {
    display: block;
  }

  .banner-mobile {
    display: none;
  }


  /* NEW STAFF page */

  section#new-staff {
    display: none;
  }

  .new-staff-mobile {
    display: block;
    width: 100%;
    margin: auto;
    position: relative;
    top: -4px;
    left: 0;
  }

  img#new-staff-mob {
    display: block;
  }

  img.new-staff {
    width: 100%;
  }

  img#desktop {
    display: none;
  }

  img#smartphone {
    display: block;
  }

  .news-block {
    margin-top: 40px;
    text-align: center;
  }

  .news-block h2 {
    text-align: center;
  }

  .news-block h4 {
    text-align: center;
  }

  .news-block button {
    font-size: 15px;
    padding: 10px 32px;
    margin: 15px auto;
  }

  .mobile-news {
    display: block;
  }

  img#greyscale {
    margin-top: 60px;
  }

  /* HIRING page */

  section#hiring {
    display: none;
  }

  div#hiring-mobile {
    display: block;
  }

  section.text {
    margin-top: 50px;
  }

  img.hiring-mobile {
    width: 100%;
    margin: auto;
    position: relative;
    top: -4px;
    left: 0;
  }

  .hiring-wrap img {
    filter: grayscale(100%);
  }

  /* Hackathon Page */

  .ibanner-section#hackathon-img {
    display: block;
  }


  /* Footer - mobile */

  .footer-wrap {
    display: block;
    min-height: 500px;
    padding-top: 40px;
  }

  .footer-contact h4 {
    text-transform: uppercase;
    font-size: 20px;
  }

  .footer-contact p {
    font-size: 18px;
  }

  .footer-follow {
    text-align: center;
    margin-top: 40px;
  }

  .footer-follow h4 {
    font-size: 20px;
    margin-top: 45px;
  }

  .footer-follow img {
    margin-top: 15px;
    padding-right: 20px;
    background: none;
    width: 70px;
  }

  .footer-follow img:hover {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
  }

  .quick-links {
    text-align: center;
    margin-bottom: 15px;
  }

  .quick-links h4 {
    font-size: 20px;
    margin-top: 45px;
  }

  .quick-links ul li {
    margin-bottom: 20px;
  }

  .quick-links ul li a {
    font-size: 18px;
  }
}

/******* 670px ******/

@media (max-width: 670px) {

  header {
    padding: 5px 30px;
  }

  nav {
    width: 100%;
    height: 300px;
    background: rgba(237, 237, 237, 0.8);
    /* position: sticky; */
    position: relative;
  }

  nav ul {
    float: none;
    display: block;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    /* display: block; */
    padding: 5px 5px;
  }

  nav ul li a {
    font-size: 15px;
    margin: 3px 5px;
    text-align: center;
  }

  /* Navigation bottom-border-transition - expand from middle */
  nav ul li a::after {
    height: 6px;
  }

  nav ul li a:hover::after {
    width: 80px;
  }

  nav ul li a.active::after {
    width: 80px;
    background: #e65925;
  }

  .responsive-bar {
    display: block;
    width: 100%;
    background: rgba(237, 237, 237, 0.8);
    padding: 10px 30px;
    box-sizing: border-box;
  }

  .responsive-bar h4 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #e65925;
    float: right;
    padding: 5px 10px;
    border: 1.5px solid #e65925;
    cursor: pointer;
  }
}