* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

/* added later */

body {
  overflow-x: hidden;
}

/* NAVIGATION */

header {
  padding: 10px 100px;
  box-sizing: border-box;
  background: #EDEDED;
}

nav {
  width: 100%;
  height: 61px;
  background: rgba(237, 237, 237, 0.8);
  position: sticky;
  top: 0;
  /* fixed nav click problem in Chrome with: */
  z-index: 255;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0 100px;
  float: right;
}

nav ul li a {
  display: block;
  color: #5C5C5C;
  margin: 3px 20px;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Amiko', sans-serif;
  font-weight: 900;
  line-height: 50px;
  padding: 0 5px;
  transition: 0.3s;
}

/* Bottom-border-transition - expand from middle */
nav ul li a::after {
  content: '';
  display: block;
  margin: auto;
  height: 8px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

nav ul li a:hover::after {
  width: 100%;
  background: #e65925;
}

/* 8px line stays on the active tab  */
nav ul li a.active::after {
  width: 100%;
  background: #e65925;
}

.responsive-bar {
  display: none;
}

/* OUR SERVICES title */

section .container {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
  margin-top: 40px;
}

/* Services block */

#services-wrapper {
  /* displays inline */
  display: flex;
  width: 100%;
  min-height: 200px;
  justify-content: center;
  align-items: center;
  background: #e65925;
  margin-top: 70px;
}

.services button {
  margin-right: 15px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  padding: 15px 42px;
  text-align: center;
  text-decoration: none;
  /* displays inline */
  flex: 1;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}
.services button:hover {
  color: #e65925;
  background: white;
  transition: 0.5s;
  cursor: pointer;
}
.services .current {
  color: #e65925;
  background: white;
  transition: 0.5s;
  cursor: pointer;
}

/* SERVICES blocks start here */

.news-section {
  margin-top: 70px;
}

.news-section h4 {
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #e65925;
}

.news-section h2 {
  margin-top: 25px;
  font-size: 35px;
  font-family: 'Average', serif;
  font-style: italic;
  font-weight: 200;
  color: #515151;
}

.news-section p {
  margin-top: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  color: #848484;
}

.news-block .listening {
  width: auto;
}

/* SERVICES blocks */

.news-block-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* width: 100%; */
}

/* SERVICES images */

.news-block-row img {
  /* makes image stay intact */
  width: 100%;
  height: auto;
}


/* SERVICES text part */

.news-block {
  justify-content: center;
  flex-direction: column;
  display: flex;
  margin: 0 60px;
}

.news-block h4 {
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #e65925;
  margin-left: 80px;
}

.news-block h2 {
  margin-top: 25px;
  margin-left: 80px;
  font-size: 35px;
  font-family: 'Average', serif;
  font-style: italic;
  font-weight: 200;
  color: #515151;
}

.news-block p {
  margin: 25px 45px 0 45px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  color: #848484;
  padding: 0 30px;
  text-align: justify;
}

.news-block button {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  padding: 15px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 30px 80px;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
  width: 200px;
}

.news-block button:hover {
  color: white;
  background: black;
  transition: 0.5s;
}

div.first-one {
  margin-top: 70px;
}

div.third-row {
  margin-top: 90px;
}

/* Block images */

.mobile-img {
  display: none;
}


/* Footer */

.footer-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 350px;
  align-items: center;
  background: black;
  border-bottom: 1px solid white;
}

.footer-contact {
  text-align: center;
}

.footer-contact h4 {
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.footer-contact p {
  margin-top: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: white;
}

.footer-follow {
  text-align: center;
}

.footer-follow h4 {
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  text-align: center;
  margin-bottom: 15px;
}

.footer-follow img {
  margin-top: 15px;
  padding-right: 20px;
  background: none;
}

.footer-follow img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}

.quick-links {
  text-align: center;
  margin-bottom: 15px;
}

.quick-links h4 {
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 35px;
}

.quick-links ul li {
  margin-bottom: 10px;
}

.quick-links ul li a {
  font-size: 20px;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: white;
  transition-duration: .3s;
  transition-timing-function: ease-in;
}

.quick-links ul li a:hover {
  color: #E0E0E0;
  border-bottom: 1px solid #e65925;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #EE7621;
  margin: 1em 0;
  padding: 0;
  width: 100%;
  background: black;
}

#copyright h5 {
  padding: 15px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: white;
  background: black;
}


/* ------------- MEDIA QUERIES --------------------- */

/* 1024 tablets - Landscape */

@media (max-width: 1400px) {

  /* Navigation 1024 tablets - Landscape */
  nav ul li a {
      font-size: 18px;
  }

   /* Services Title 1024 tablets - Landscape */

   .news-section h4 {
    font-size: 20px;
   }

   .news-section h2 {
    font-size: 25px;
   }

    /* Services Tabs 1024 tablets - Landscape */

  .services button {
    font-size: 15px;
    padding: 10px 32px;
  }

  #services-wrapper {
    min-height: 150px;
  }

  /* Service Blocks 1024 tablets - Landscape */

  .news-block h4 {
      font-size: 20px;
      margin: 15px 5px;
      padding: 0 5px;
  }

  .news-block h2 {
    font-size: 25px;
    margin: 15px 5px;
    padding: 0 5px;
}

.news-block p {
  font-size: 18px;
  margin: 15px 5px;
  padding: 0 5px;
 
}

/* Blocks Buttons */

.news-block button {
  font-size: 15px;
  padding: 10px 32px;
  margin: 15px 5px;
}

  /* FOOTER 1024 tablets - Landscape */

  .footer-wrap {
      min-height: 250px;
  }

  .footer-contact h4 {
      font-size: 20px;
      margin-bottom: 30px;
  }

  .footer-contact p {
      font-size: 18px;
  }

  .footer-follow h4 {
      font-size: 20px;
      margin-bottom: 20px;
  }

  .footer-follow img {
      width: 20%;
      height: 20%;
  }

  .quick-links {
      margin-bottom: 25px;
  }

  .quick-links h4 {
      font-size: 20px;
      margin-bottom: 30px;
  }

  ul.grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
  }

  ul.grid li a {
    font-size: 18px;
}

  #copyright h5 {
      padding: 20px;
      font-size: 15px;
  }
}

/* Tablet Landscape 800px Media Queries */

@media (max-width: 800px) {

  header {
    padding: 5px 30px;
}

/* Navigation */
nav {
    width: 100%;
    height: 300px;
    background: rgba(237, 237, 237, 0.8);
    /* position: sticky; */
    position: relative;
}

nav ul {
    float: none;
    display: block;
    margin: 0;
    padding: 0;
}

nav ul li {
    /* display: block; */
    padding: 5px 5px;
}

nav ul li a {
    font-size: 15px;
    margin: 3px 5px;
    text-align: center;
}

/* Navigation bottom-border-transition - expand from middle */
nav ul li a::after {
    height: 4px;
}

nav ul li a:hover::after {
    width: 25%;
}

/* 8px line stays on the active tab  */
nav ul li a.active::after {
  width: 20%;
}

/* Mobile Navbar */
.responsive-bar {
    display: block;
    width: 100%;
    background: rgba(237, 237, 237, 0.8);
    padding: 10px 30px;
    box-sizing: border-box;
}

.responsive-bar h4 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #e65925;
    float: right;
    padding: 5px 10px;
    border: 1.5px solid #e65925;
    cursor: pointer;
}

.news-section h2 {
  font-size: 20px;
  margin: 20px 10px;
}

/* Services block */

#services-wrapper {
  
  display: block;
  width: 100%;
}

.services button {
  width: 100%;
  font-size: 18px;
}

.services .current {
  color: #e65925;
  background:#EDEDED;
  transition: 0.5s;
  cursor: pointer;
  /* border: 2px solid #e65925; */
}


/* Service blocks */

.news-block-row {
  display: block;
}

/* Images */

.desktop-img {
  display: none;
}

.mobile-img {
  display: block;
}

.news-block-row {
  margin-bottom: 50px;
}

.news-block h4 {
  margin-top: 15px;
  text-align: center;
}

.news-block h2 {
  text-align: center;
  font-size: 20px;
}

.news-block {
  text-align: center;
}


/* Footer - mobile */

.footer-wrap {
  display: block;
  min-height: 500px;
  padding-top: 40px;
}

.footer-contact h4 {
  text-transform: uppercase;
  font-size: 20px;
}

.footer-contact p {
  font-size: 18px;
}

.footer-follow {
  text-align: center;
  margin-top: 40px;
}

.footer-follow h4 {
  font-size: 20px;
  margin-top: 45px;
}

.footer-follow img {
  margin-top: 15px;
  padding-right: 20px;
  background: none;
  width: 70px;
}

.footer-follow img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}

.quick-links {
  text-align: center;
  margin-bottom: 15px;
}

.quick-links h4 {
  font-size: 20px;
  margin-top: 45px;
}

.quick-links ul li {
  margin-bottom: 20px;
}

.quick-links ul li a {
  font-size: 18px;
}

}




