* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

/* added later */
body {
    overflow-x: hidden;
}

/* NAVIGATION */
header {
    padding: 10px 100px;
    box-sizing: border-box;
    background: #EDEDED;
}

nav {
    width: 100%;
    height: 61px;
    background: rgba(237, 237, 237, 0.8);
    position: sticky;
    top: 0;
    z-index: 255;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0 100px;
    float: right;
}

nav ul li a {
    display: block;
    color: #5C5C5C;
    margin: 3px 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Amiko', sans-serif;
    font-weight: 900;
    line-height: 50px;
    padding: 0 5px;
    transition: 0.3s;
}

nav ul li a.active {
    border-bottom: 8px solid #e65925;
}

/* Navigation bottom-border-transition - expand from middle */
nav ul li a::after {
    content: '';
    display: block;
    margin: auto;
    height: 8px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

nav ul li a:hover::after {
    width: 100%;
    background: #e65925;
}

/* Mobile Navbar */
.responsive-bar {
    display: none;
}

/* VIDEO */
.video-section {
    height: 50vh;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    background-size: cover;
}

.video-wrap {
    position: absolute;
    top: 194px;
    left: 0;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.video-wrap video {
    min-width: 100%;
    min-height: 100%;
}

section .container {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.header-overlay {
    height: 50vh;
    width: 100%;
    position: absolute;
    top: 194px;
    left: 0;
    background: #5C5C5C;
    z-index: 1;
    opacity: 0.55;
}

.video-content {
    z-index: 2;
    /* fixed centering content center issue */
    position: absolute;
    width: 100%;
    padding: 0 60px;
}

.video-content h1 {
    text-align: center;
    color: #EDEDED;
    font-size: 60px;
    font-family: 'Amiko', sans-serif;
    font-weight: 100;
    line-height: 100px;
    margin-bottom: 0;
    margin: 10% auto;
}

#word {
    color: #f3794c;
    /* text-shadow: 1px 1px 2px #170600; */
}

/*  WHO WE ARE SECTION */
.about-section {
    margin-top: 70px;
}

.about-section h4 {
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #e65925;
}

.about-section h2 {
    margin-top: 25px;
    font-size: 35px;
    font-family: 'Average', serif;
    font-style: italic;
    font-weight: 200;
    color: #515151;
}

.about-section p {
    margin-top: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    color: #848484;
}

/* NEWS SECTION */
.news-section {
    height: 50vh;
    width: 100%;
    position: absolute;
    top: 194px;
    left: 0;
    background: #5C5C5C;
    z-index: 1;
    opacity: 0.55;
}

div.test h4 {
    text-align: center;
    margin-top: 40px;
}

div.test img {
    width: 100%;
}

.news-wrap {
    position: relative;
}

.news-container {
    margin-top: 100px;
    width: 100%;
    height: 47vh;
    background: #D3D3D3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

/* text-side */
.news-wrap-left {
    text-align: center;
    align-items: center;
    /* Cemtered verically */
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.news-wrap-left h4 {
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #e65925;
}

.news-wrap-left h2 {
    margin-top: 25px;
    font-size: 35px;
    font-family: 'Average', serif;
    font-style: italic;
    font-weight: 200;
    color: #515151;
}

.news-wrap-left p {
    margin: 25px 45px 0 45px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    color: #848484;
    padding: 0 30px;
}

.news-wrap-left button {
    background-color: transparent;
    border: 2px solid black;
    color: black;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    padding: 15px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 30px 2px;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
}

.news-wrap-left button:hover {
    color: white;
    background: black;
    transition: 0.5s;
}

/* image side */
.news-wrap-right {
    width: 100%;
    height: auto;
    /* makes image stay insede the div: */
    overflow: hidden;
}

.news-wrap-right img {
    width: 100%;
    height: 576px;
    object-fit: cover;
    filter: grayscale(100%);
}

.news-wrap-right .in-color {
    filter: grayscale(0);
}

#news-2 {
    margin-top: 100px;
}

/* News section arrows */
.fa-chevron-left,
.fa-chevron-right {
    color: white;
    padding: 17px;
    background: #e65925;
}

.fa-chevron-left:hover {
    background: #5d5d5d;
    transition: .5s;
}

.fa-chevron-right:hover {
    background: #5d5d5d;
    transition: .5s;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 45%;
}

#arrow-right {
    right: 0;
}

/* OUR WORK */
.work-wrapper-mobile {
    display: none;
}

.work-wrapper {
    margin-top: 80px;
    padding-bottom: 50px;
    text-align: center;
    align-items: center;
    /* Cemtered verically */
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.work-wrapper h4 {
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #e65925;
}

.work-image-container {
    margin-top: 30px;
    width: 100%;
    background: #D3D3D3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.work-image-container img {
    width: 100%;
    max-height: 45vh;
}

.work-content {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.projects {
    margin: 0 100px;
}

.projects h4 {
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #e65925;
}

.projects h2 {
    margin-top: 25px;
    font-size: 35px;
    font-family: 'Average', serif;
    font-style: italic;
    font-weight: 200;
    color: #515151;
}

.projects button {
    background-color: transparent;
    border: 2px solid black;
    color: black;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    padding: 15px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 30px 2px;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
}

.projects button:hover {
    color: white;
    background: black;
    transition: 0.5s;
}

/* SERVICES section */
.services-wrap {
    margin-top: 75px auto 0 auto;
    min-height: 800px;
    width: 100%;
    background: #EBEBEB;
}

.service-cols {
    margin-top: 70px;
    text-align: center;
    align-items: center;
    /* Cemtered verically */
    justify-content: center;
    flex-direction: column;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    height: 100%;
}

.services-wrap h4 {
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #e65925;
    text-align: center;
    padding-top: 70px;
}

.service-desc img {
    width: auto;
    height: auto;
    align-items: center;
    cursor: pointer;
}

.service-desc h3 {
    margin-top: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    font-weight: 100;
    color: #515151;
}

.service-desc p {
    margin-top: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    text-align: justify;
    margin: 20px 40px 0 40px;
    color: #848484;
    min-height: 160px;
}

.service-desc button {
    margin-top: 50px;
    background-color: transparent;
    border: 2px solid black;
    color: black;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    padding: 15px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
}

.service-desc button:hover {
    color: white;
    background: black;
    transition: 0.5s;
}

/* Contact section */
#contact-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 200px;
    justify-content: center;
    align-items: center;
    background: #e65925;
}

.contact h2 {
    float: right;
    width: 450px;
    font-size: 35px;
    font-family: 'Average', serif;
    font-style: italic;
    font-weight: 200;
    color: white;
}

.contact button {
    margin-left: 200px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    padding: 15px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
}

.contact button:hover {
    color: #e65925;
    background: white;
    transition: 0.5s;
    cursor: pointer;
}

/* removes blue button border in Chrome */
button:focus {
    outline: 0;
}

/* Footer */
.footer-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 350px;
    align-items: center;
    background: black;
    border-bottom: 1px solid white;
}

.footer-contact {
    text-align: center;
}

.footer-contact h4 {
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.footer-contact p {
    margin-top: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: white;
}

.footer-follow {
    text-align: center;
}

.footer-follow h4 {
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

.footer-follow img {
    margin-top: 15px;
    padding-right: 20px;
    background: none;
}

.footer-follow img:hover {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}

.quick-links {
    text-align: center;
    margin-bottom: 15px;
}

.quick-links h4 {
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 35px;
}

.quick-links ul li {
    margin-bottom: 10px;
}

.quick-links ul li a {
    font-size: 20px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: white;
    transition-duration: .3s;
    transition-timing-function: ease-in;
}

.quick-links ul li a:hover {
    font-weight: 400;
    color: #E0E0E0;
    border-bottom: 1px solid #e65925;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e65925;
    margin: 1em 0;
    padding: 0;
    width: 100%;
    background: black;
}

#copyright h5 {
    padding: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: white;
    background: black;
}

/* ------------- MEDIA QUERIES --------------------- */
/* 1024 tablets - Landscape */
@media (max-width: 1400px) {

    /* Navigation */
    nav ul li a {
        font-size: 18px;
    }

    /* VIDEO section */
    .video-content h1 {
        font-size: 40px;
    }

    /* Who we are section */
    .about-section {
        margin-top: 70px;
    }

    .about-section h4 {
        font-size: 20px;
    }

    .about-section h2 {
        font-size: 25px;
    }

    .about-section p {
        margin-top: 30px;
        font-size: 19px;
    }

    /* News banner */
    .news-wrap-left {
        margin-top: 20px;
    }

    .news-wrap-left h4 {
        font-size: 20px;
    }

    .news-wrap-left h2 {
        font-size: 25px;
    }

    .news-wrap-left p {
        font-size: 19px;
        padding: 0 35px;
    }

    .news-wrap-left button {
        font-size: 15px;
        padding: 10px 32px;
        margin: 30px 2px;
    }

    /* Work section */
    .work-wrapper h4 {
        font-size: 20px;
    }

    .projects {
        margin: 0 100px;
    }

    .projects h4 {
        font-size: 20px;
    }

    .projects h2 {
        font-size: 25px;
        margin: 25px 0;
        /* fixed button stayin at the same height below h2  */
        min-height: 90px;
    }

    .projects button {
        font-size: 15px;
        padding: 10px 32px;
    }

    /* WHAT CAN WE DO FOR YOU */
    .services-wrap {
        min-height: 750px;
    }

    .service-desc img {
        width: 150px;
        height: 150px;
    }

    .service-desc h3 {
        font-size: 25px;
    }

    .service-desc p {
        margin-top: 30px;
        font-size: 18px;
        /* fixed above img and buttons staying at the same height above and below paragraphs */
        min-height: 180px;
    }

    .service-desc button {
        font-size: 15px;
        padding: 10px 32px;
    }

    /* Contact section */
    #contact-wrapper {
        min-height: 150px;
    }

    .contact h2 {
        font-size: 25px;
    }

    .contact button {
        font-size: 15px;
        padding: 10px 32px;
    }

    /* FOOTER */
    .footer-wrap {
        min-height: 250px;
    }

    .footer-contact h4 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .footer-contact p {
        font-size: 18px;
    }

    .footer-follow h4 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .footer-follow img {
        width: 20%;
        height: 20%;
    }

    .quick-links {
        margin-bottom: 25px;
    }

    .quick-links h4 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    ul.grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    ul.grid li a {
        font-size: 18px;
    }

    #copyright h5 {
        padding: 20px;
        font-size: 15px;
    }
}

@media (max-width: 790px) {

    /* VIDEO section */
    .video-content h1 {
        font-size: 30px;
    }

    .projects h2 {
        min-height: 160px;
    }

    /* SERVICES section */
    .service-cols {
        margin-top: 25px;
        height: 700px;
        padding-bottom: 35px;
    }

    .services-wrap h4 {
        font-size: 20px;
    }

    .service-desc h3 {
        font-size: 23px;
    }

    .service-desc p {
        font-size: 18px;
        min-height: 300px;
    }

    /* Contact section */
    #contact-wrapper {
        min-height: 150px;
    }

    .contact h2 {
        padding-left: 100px;
    }
}

/******* SMARTPHONE media quries 670px *******/
@media (max-width: 670px) {

    /* HOME page */
    header {
        padding: 5px 10px;
    }

    /* Navigation */
    nav {
        width: 100%;
        height: 300px;
        background: rgba(237, 237, 237, 0.8);
        /* position: sticky; */
        position: relative;
        top: 0;
        z-index: 255;
    }

    nav ul {
        float: none;
        display: block;
        margin: 0;
        padding: 0;
    }

    nav ul li {
        /* display: block; */
        padding: 5px 5px;
    }

    nav ul li a {
        font-size: 15px;
        margin: 3px 5px;
        text-align: center;
    }

    nav ul li a.active {
        border-bottom: 4px solid #e65925;
    }

    /* Navigation bottom-border-transition - expand from middle */
    nav ul li a::after {
        height: 4px;
    }

    nav ul li a:hover::after {
        width: 25%;
    }

    /* Mobile Navbar */
    .responsive-bar {
        display: block;
        width: 100%;
        background: rgba(237, 237, 237, 0.8);
        padding: 10px 30px;
        box-sizing: border-box;
    }

    .responsive-bar h4 {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-size: 18px;
        font-family: 'Source Sans Pro', sans-serif;
        color: #e65925;
        float: right;
        padding: 5px 10px;
        border: 1.5px solid #e65925;
        cursor: pointer;
    }

    /* VIDEO section */
    section.video-section {
        display: none;
    }

    /*
    .video-content h1 {
        font-size: 25px;
        text-align: center;
        line-height: 50px;
    }
    */
    #word {
        text-shadow: 1px 1px 2px #170600;
    }

    .about-section h2 {
        margin-top: 25px;
        font-size: 20px;
        padding: 0 20px;
    }

    .about-section p {
        font-size: 18px;
        text-align: justify;
        padding: 0 20px;
    }

    .news-wrap {
        display: none;
    }

    /* Our Work section */
    .work-wrapper {
        display: none
    }

    .work-wrapper-mobile {
        display: block;
        margin-top: 60px;
        text-align: center;
    }

    .work-wrapper-mobile h4 {
        text-transform: uppercase;
        font-size: 20px;
        font-family: 'Source Sans Pro', sans-serif;
        color: #e65925;
        text-align: center;
        padding-bottom: 30px;
    }

    .work-wrapper-mobile h2 {
        margin: 25px 20px;
        font-size: 20px;
        font-family: 'Average', serif;
        font-style: italic;
        font-weight: 200;
        color: #515151;
        text-align: center;
    }

    .work-wrapper-mobile button {
        background-color: transparent;
        border: 2px solid black;
        color: black;
        font-size: 20px;
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        transition: color 0.5s ease-in-out;
        font-size: 15px;
        padding: 10px 32px;
    }

    .work-wrapper-mobile button:hover {
        color: white;
        background: black;
        transition: 0.5s;
    }

    .projects-mobile img {
        width: 100%;
    }

    /* Services Columns */
    .service-cols {
        margin-top: 60px;
        display: block;
        height: 30%;
    }

    .service-desc p {
        min-height: 40px;
    }

    .service-desc {
        margin-bottom: 60px;
    }

    .services-wrap {
        margin-top: 60px;
    }

    /* Contact section */
    #contact-wrapper {
        display: block;
        padding: 20px 0 30px 0;
    }

    .contact h2 {
        width: 400px;
        font-size: 20px;
        margin: 20px 40px 20px 10px;
        text-align: center;
    }

    .contact button {
        font-size: 15px;
        padding: 10px 32px;
        display: block;
        margin: 0 auto;
    }

    /* Footer - mobile */
    .footer-wrap {
        display: block;
        min-height: 500px;
        padding-top: 40px;
    }

    .footer-contact h4 {
        text-transform: uppercase;
        font-size: 20px;
    }

    .footer-contact p {
        font-size: 18px;
    }

    .footer-follow {
        text-align: center;
        margin-top: 40px;
    }

    .footer-follow h4 {
        font-size: 20px;
        margin-top: 45px;
    }

    .footer-follow img {
        margin-top: 15px;
        padding-right: 20px;
        background: none;
        width: 70px;
    }

    .footer-follow img:hover {
        transform: scale(1.1);
        transition: 0.5s;
        cursor: pointer;
    }

    .quick-links {
        text-align: center;
        margin-bottom: 15px;
    }

    .quick-links h4 {
        font-size: 20px;
        margin-top: 45px;
    }

    .quick-links ul li {
        margin-bottom: 20px;
    }

    .quick-links ul li a {
        font-size: 18px;
    }
}