* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

/* added later */
body {
    overflow-x: hidden;
}
/* NAVIGATION */

header {
    padding: 10px 100px;
    box-sizing: border-box;
    background: #EDEDED;
}

nav {
    width: 100%;
    height: 61px;
    background: rgba(237, 237, 237, 0.8);
    /* border-bottom: 1px solid #7A7A7A; */
    /* scroll and sticky navbar */
    position: sticky;
    top: 0;
    /* fixed nav click problem in Chrome with: */
    z-index: 255;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0 100px;
    float: right;
}

nav ul li a {
    display: block;
    color: #5C5C5C;
    margin: 3px 20px;
    text-transform: uppercase;
    font-family: 'Amiko', sans-serif;
    font-weight: 900;
    line-height: 50px;
    padding: 0 5px;
    transition: 0.3s;
}

nav ul li a.active {
    border-bottom: 8px solid #EE7621;
}

nav ul li a:hover {
    border-bottom: 8px solid #EE7621;
}


/* VIDEO */

.video-section {
    height: 50vh;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    background-size: cover;
}

.video-wrap {
    position: absolute;
    top: 194px;
    left: 0;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.video-wrap video {
    min-width: 100%;
    min-height: 100%;
}

section .container {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.header-overlay {
    height: 50vh;
    width: 100%;
    position: absolute;
    top: 194px;
    left: 0;
    background: #5C5C5C;
    z-index: 1;
    opacity: 0.55; 
}

.video-content {
    z-index: 2;
    /* fixed centering content center issue */
    position: absolute;
    width: 100%;
    padding: 0 60px;
}

.video-content h1 {
    text-align: center;
    color: #EDEDED;
    font-size: 60px;
    font-family: 'Amiko', sans-serif;
    font-weight: 100;
    line-height: 100px;
    margin-bottom: 0;
    margin: 10% auto;
}

#word {
  color: #f3794c;
  text-shadow: 1px 1px 2px #170600;
}

/*  WHO WE ARE SECTION */

.about-section {
    margin-top: 70px;
}

.about-section h4 {
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #EE7621;
}

.about-section h2 {
    margin-top: 25px;
    font-size: 35px;
    font-family: 'Average', serif;
    font-style: italic;
    font-weight: 200;
    color: #515151;
   
}

.about-section p {
    margin-top: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    color: #848484;
}

.news-section {
    height: 50vh;
    width: 100%;
    position: absolute;
    top: 194px;
    left: 0;
    background: #5C5C5C;
    z-index: 1;
    opacity: 0.55; 
}
div.test h4 {
    text-align: center;
    margin-top: 40px;
}
div.test img{
    width: 100%;
}

/* NEWS SECTIONS */

.news-container {
margin-top: 100px;
width: 100%;
height: 50vh;
background: #D3D3D3;
display: grid;
grid-template-columns: 1fr 1fr;
}

/* text-side */
.news-wrap-left {
    text-align: center;
    align-items: center;
    /* Cemtered verically */
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.news-wrap-left h4 {
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #EE7621;
}
.news-wrap-left h2 {
    margin-top: 25px;
    font-size: 35px;
    font-family: 'Average', serif;
    font-style: italic;
    font-weight: 200;
    color: #515151;
}
.news-wrap-left p {
    margin: 25px 15px 0 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    color: #848484;
    padding: 0 30px;
}
.news-wrap-left button {
    background-color: transparent;
    border: 2px solid black;
    color: black;
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    padding: 15px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 30px 2px;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
}
.news-wrap-left button:hover {
    color: white;
    background: black;
    transition: 0.5s;
}
.fa-chevron-left,
.fa-chevron-right {
    color: white;
    padding: 17px;
    background: #EE7621;
    margin-right: 5px;
}
 

/* image side */
.news-wrap-right {
    width: 100%;
    height: auto;
    /* makes image stay insede the div: */
    overflow: hidden;
}
.news-wrap-right img {
    width: 100%;
    height: 576px;
    object-fit: cover;
    filter: grayscale(100%);
}

