* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

/* added later */
body {
    overflow-x: hidden;
}
/* NAVIGATION */

header {
    padding: 10px 100px;
    box-sizing: border-box;
    background: #EDEDED;
}

nav {
    width: 100%;
    height: 61px;
    background: rgba(237, 237, 237, 0.8);
    /* border-bottom: 1px solid #7A7A7A; */
    /* scroll and sticky navbar */
    position: sticky;
    top: 0;
    /* fixed nav click problem in Chrome with: */
    z-index: 255;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0 100px;
    float: right;
}

nav ul li a {
    display: block;
    color: #5C5C5C;
    margin: 3px 20px;
    text-transform: uppercase;
    font-family: 'Amiko', sans-serif;
    font-weight: 900;
    line-height: 50px;
    padding: 0 5px;
    transition: 0.3s;
}

nav ul li a.active {
    border-bottom: 8px solid #EE4000;
}

nav ul li a:hover {
    border-bottom: 8px solid #EE4000;
}



/* VIDEO */

.video-section {
    height: 50vh;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    background-size: cover;
}

section .container {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.video-wrap {
    position: absolute;
    top: 194px;
    left: 0;
    width: 100%;
    height: 50vh;
    /* height: 100vh; */
    overflow: hidden;
}

.video-wrap video {
    min-width: 100%;
    min-height: 100%;
}

.header-overlay {
    height: 50vh;
    /* height: 100vh; */
    /* width: 100vh; not good here */
    width: 100%;
    position: absolute;
    top: 194px;
    left: 0;
    background: #5C5C5C;
    z-index: 1;
    opacity: 0.55; 
}

.video-content {
    z-index: 2;
    /* fixed centering content center issue */
    position: absolute;
    width: 100%;
    padding: 0 60px;
}

.video-content h1 {
    text-align: center;
    color: #EDEDED;
    font-size: 60px;
    font-family: 'Amiko', sans-serif;
    font-weight: 100;
    line-height: 100px;
    margin-bottom: 0;
    margin: 10% auto;
}

#word {
  color: #f3794c;
  text-shadow: 1px 1px 2px #170600;
}


/* video { */
    /* width: 100%;
    height: 100vh; */
    /* fixed nav click problem in Chrome with: */
    /* z-index: 0; */
/* } */ 





/* SECTIONS */

/* section {
    width: 100%;
    height: 100vh;
} */

