* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

/* added later */
body {
  overflow-x: hidden;
}

/* NAVIGATION */
header {
  padding: 10px 100px;
  box-sizing: border-box;
  background: #EDEDED;
}

nav {
  width: 100%;
  height: 61px;
  background: rgba(237, 237, 237, 0.8);
  /* border-bottom: 1px solid #7A7A7A; */
  /* scroll and sticky navbar */
  position: sticky;
  top: 0;
  /* fixed nav click problem in Chrome with: */
  z-index: 255;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0 100px;
  float: right;
}

nav ul li a {
  display: block;
  color: #5C5C5C;
  margin: 3px 20px;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Amiko', sans-serif;
  font-weight: 900;
  line-height: 50px;
  padding: 0 5px;
  transition: 0.3s;
}

/* Bottom-border-transition - expand from middle */
nav ul li a::after {
  content: '';
  display: block;
  margin: auto;
  height: 8px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

nav ul li a:hover::after {
  width: 100%;
  background: #e65925;
}

/* 8px line stays on the active tab  */
nav ul li a.active::after {
  width: 100%;
  background: #e65925;
}

.banner-mobile {
  display: none;
}

/* WORK PAGE starts here */
.banner-section {
  height: 50vh;
  display: flex;
  align-items: center;
  background-size: cover;
}

.img-wrap {
  position: absolute;
  top: 194px;
  left: 0;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.img-wrap img {
  min-width: 100%;
  min-height: 100%;
}

section .container {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

.header-overlay {
  height: 50vh;
  width: 100%;
  position: absolute;
  top: 194px;
  left: 0;
  background: #5C5C5C;
  z-index: 1;
  opacity: .2;
}

/* Banner message */
.banner-message {
  flex-direction: column;
  z-index: 1;
}

.banner-message h2 {
  margin-top: 25px;
  margin-left: 10px;
  font-size: 35px;
  font-family: 'Average', serif;
  font-style: italic;
  font-weight: 200;
  color: white;
  padding: 0 60px;
  text-shadow: 1px 1px 2px grey;
}

.banner-message button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  padding: 15px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 30px 70px;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}

.banner-message button:hover {
  color: #e65925;
  background: white;
  transition: 0.5s;
}

/* Work page title */
.work-section {
  margin-top: 70px;
}

.work-section h4 {
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #e65925;
}

.work-section h2 {
  margin-top: 25px;
  font-size: 35px;
  font-family: 'Average', serif;
  font-style: italic;
  font-weight: 200;
  color: #515151;
}

.work-section p {
  margin-top: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  color: #848484;
  text-align: justify;
}

/* Work blocks */
div.work-wrapper,
#work-row-one {
  margin-top: 50px;
}

.work-wrapper {
  margin-top: 80px;
  padding-bottom: 50px;
  text-align: center;
  align-items: center;
  /* Cemtered verically */
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.work-wrapper h4 {
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #e65925;
  margin-top: 10px;
}

.work-image-container {
  margin-top: 30px;
  width: 100%;
  background: #D3D3D3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.work-image-container img {
  width: 100%;
  max-height: 100%;
}

.work-content {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.projects {
  margin: 0 100px;
}

.projects h4 {
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #e65925;
}

.projects h2 {
  margin-top: 25px;
  font-size: 35px;
  font-family: 'Average', serif;
  font-style: italic;
  font-weight: 200;
  color: #515151;
}

.projects button {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  padding: 15px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 30px 2px;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}

.projects button:hover {
  color: white;
  background: black;
  transition: 0.5s;
}

/* Second work block */
div.work-wrapper,
#work-row-two {
  margin-top: -90px;
}

/* Communications project */
h4#jm {
  margin-top: 80px;
  font-size: 25px;
}

div.paragraphs p {
  font-size: 20px;
}

.image-wrapper img {
  width: 100%;
}

.image-wrapper img#pt2 {
  margin-top: 60px;
}

.work-image-container {
  margin-top: 100px;
}

/* Share block */
.share-block {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 70px;
}

.share-block h4 {
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #e65925;
}

.social-icons {
  margin-top: 25px;
}

.social-icons img {
  margin-right: 20px;
  transition-property: all;
  transition-duration: 1s;
}

.social-icons img.l-blue:hover {
  content: url(icons/twitter-white.png);
  cursor: pointer;
  transition: 1s;
  transform: rotateY(180deg);
}

.social-icons img.blue:hover {
  content: url(icons/linkedin-white.png);
  cursor: pointer;
  transition: 1s;
  transform: rotateY(180deg);
}

.social-icons img.orange:hover {
  content: url(icons/email-white.png);
  cursor: pointer;
  transition: 1s;
  transform: rotateY(180deg);
}

/* PROJECT MANAGER banner */
section.bottom-banner {
  height: 45vh;
  background: #DBDBDB;
  width: 100%;
}

.bottom-banner h4 {
  padding-top: 60px;
}

.contact-partner img {
  border-radius: 50%;
  margin-top: 20px;
}

.contact-partner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: 0 auto;
}

.pm-social h4.connect {
  color: black;
  margin: auto;
}

.pm-image {
  margin-left: 250px;
}

.pm-name h3 {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 100;
  color: #575757;
}

.pm-social {
  margin-right: 250px;
  margin-top: 20px;
}

.pm-social img {
  margin-right: 25px;
}

.pm-social img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}

/* PAINTWORKS page */
.image-wrapper img#pw {
  margin-top: 60px;
  height: auto;
  width: 100%;
}

 .image-wrapper #pw-mobile {
  margin-top: 60px;
}

.image-wrapper #pw-site {
  margin-top: 70px;
  height: auto;
} 

/* CONTACT Page */

.our-contacts {
  padding-bottom: 100px;
  display: block;
  margin-top: -50px;
  height: 700px;
}

.bottom-banner {
  height: 700px;
}

.map-mobile {
  display: none;
}

.address h3 {
  text-align: center;
  padding: 20px 0 20px 0;
  font-size: 25px;
  font-family: 'Amiko', sans-serif;
  font-weight: 100;
}

div.our-contacts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
  padding-top: 30px;
}

.our-contacts .manager {
  text-align: center;
}

.manager img {
  border-radius: 50%;
}

.pm-name {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pm-name button {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  padding: 15px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 30px 70px;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}

.pm-name button:hover {
  color: white;
  background: black;
  transition: 0.5s;
}

/* Map */

.img-wrap iframe {
  width: 100%;
  position: absolute;
}

div#flying-logo img {
  top: -400px;
  left: 44%;
  position: absolute;
  animation-name: flyinglogo;
  animation-duration: 2s;
  /* sorted out the element dissapearing after the last frame */
  animation-fill-mode: forwards;
}

@keyframes flyinglogo {
  0% {
    left: 44%;
    top: -400px;
  }

  100% {
    left: 44%;
    top: 37%;
  }
}

/* --------- Footer -----------*/

.footer-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 350px;
  align-items: center;
  background: black;
  border-bottom: 1px solid white;
}

.footer-contact {
  text-align: center;
}

.footer-contact h4 {
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.footer-contact p {
  margin-top: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: white;
}

.footer-follow {
  text-align: center;
}

.footer-follow h4 {
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  text-align: center;
  margin-bottom: 15px;
}

.footer-follow img {
  margin-top: 15px;
  padding-right: 20px;
  background: none;
}

.footer-follow img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}

.quick-links {
  text-align: center;
  margin-bottom: 15px;
}

.quick-links h4 {
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 35px;
}

.quick-links ul li {
  margin-bottom: 10px;
}

.quick-links ul li a {
  font-size: 20px;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: white;
  transition-duration: .3s;
  transition-timing-function: ease-in;
}

.quick-links ul li a:hover {
  font-weight: 400;
  color: #E0E0E0;
  border-bottom: 1px solid #e65925;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #EE7621;
  margin: 1em 0;
  padding: 0;
  width: 100%;
  background: black;
}

#copyright h5 {
  padding: 15px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: white;
  background: black;
}


/* ------------- MEDIA QUERIES --------------------- */


/* 1024 tablets - Landscape */
@media (max-width: 1400px) {

  /* Navigation 1024 tablets - Landscape */
  nav ul li a {
    font-size: 18px;
  }

  /* Work section 1024 tablets - Landscape */
  .work-wrapper h4 {
    font-size: 20px;
  }

  .projects {
    margin: 0 100px;
  }

  .projects h4 {
    font-size: 20px;
  }

  .projects h2 {
    font-size: 25px;
    margin: 25px 0;
    /* fixed button stayin at the same height below h2  */
    min-height: 90px;
  }

  .projects button {
    font-size: 15px;
    padding: 10px 32px;
  }

  /*** WORK PAGE 1024 tablets - Landscape ***/

  
  /* Banner 1024 tablets - Landscape */

  .img-wrap {
    height: auto;
  }

  .img-wrap img {
    width: 100%;
  }

  .header-overlay {
    height: 100%;
  }

  /* Banner Message 1024 tablets - Landscape*/

  .banner-message {
  margin-bottom: 150px
  }

  .banner-message h2 {
    font-size: 25px;
    padding: 0 60px;
  }

  .banner-message button {
    font-size: 15px;
    padding: 10px 32px;
  }

.header-overlay {
  display: none;
}


  /* Work page title 1024 tablets - Landscape */
  .work-section {
    margin-top: 30px;
  }

  .work-section h4 {
    font-size: 20px;
  }

  .work-section h2 {
    font-size: 25px;
  }

  /* Work blocks 1024 tablets - Landscape */
  div.work-wrapper,
  #work-row-one {
    margin-top: 20px;
  }

  div.work-wrapper,
  #work-row-two {
    margin-top: -60px;
  }

  /* Communications page 1024 tablets - Landscape*/
  h4#jm {
    font-size: 20px;
  }

  div.paragraphs p {
    font-size: 18px;
  }

  /* Share block 1024 tablets - Landscape */
  .share-block {
    margin-top: 30px;
  }

  .share-block h4 {
    font-size: 20px;
  }

  /* PROJECT MANAGER banner 1024 tablets - Landscape*/
  section.bottom-banner {
    height: 420px;
  }

  .pm-image {
    margin-top: 30px;
    margin-left: 100px;
  }

  .pm-image img {
    width: 150px;
  }

  .pm-name h3 {
    font-size: 20px;
  }

  .pm-social {
    margin-right: 100px;
  }

  /*  PAINTWORKS page 1024 tablets - Landscape */
  .image-wrapper img#pw {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  /*  Living Solutions page 1024 tablets - Landscape */
  div#living {
    margin-top: 60px;
  }

  /*  Digital Experience page 1024 tablets - Landscape */
  p#digital {
    margin-top: 80px;
  }

  div#digital {
    margin-top: 60px;
  }

  /*  KT Sports page 1024 tablets - Landscape */
  div#kt {
    margin-top: 60px;
  }

  /* CONTACT PAGE */
  section.map {
    display: none;
  }

  .map-mobile {
    display: block;
  }

  div#flying-logo img {
    display: none;
  }

  iframe {
    height: 300px;
    width: 100%;
  }

  .address h3 {
    margin-top: 60px;
    font-size: 20px;
  }

  /* Contact Managers */


section.bottom-banner {
  height: 420px;
}

.manager img {
  width: 150px;
}

.pm-name button {
  font-size: 15px;
  padding: 10px 32px;
}

div.our-contacts {
  margin-top: 70px;
  padding-top: 50px;
}




  /* FOOTER 1024 tablets - Landscape */
  .footer-wrap {
    min-height: 250px;
  }

  .footer-contact h4 {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .footer-contact p {
    font-size: 18px;
  }

  .footer-follow h4 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .footer-follow img {
    width: 20%;
    height: 20%;
  }

  .quick-links {
    margin-bottom: 25px;
  }

  .quick-links h4 {
    font-size: 20px;
    margin-bottom: 30px;
  }

  ul.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  ul.grid li a {
    font-size: 18px;
  }

  #copyright h5 {
    padding: 20px;
    font-size: 15px;
  }
}

/* MEDIA QUERIES 800px */

@media (max-width: 800px) {
  /* VIDEO section */

.video-content h1 {
    font-size: 30px;
}

.projects h2 {
    min-height: 160px;
}

/* Work Page */

/* Banner with message */

.header-overlay {
  display: none;
}
.banner-message {
  display: none;
}

.banner-section {
  height: 250px; 
}

.img-wrap {
  display: block;
  width: 850px;
  height: 280px;
  margin: auto;
}

.img-wrap img {
  width: 100%;
  height: 250px;
  margin: auto;
  align-items: flex-start;
}

.banner-mobile {
  margin-top: 30px;
  height: 200px;
  background: #414042;
  justify-content: center;
  flex-direction: column;
  display: flex;
  justify-content: centre;
  flex-direction: column;
}

.banner-mobile h4 {
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  margin-top: 18px;
  margin-left: 70px;
  text-shadow: 0 0 0;
}

.banner-mobile h2 {
  margin-top: 15px;
  margin-left: 10px;
  font-size: 25px;
  font-family: 'Average', serif;
  font-style: italic;
  font-weight: 200;
  color: white;
  padding: 0 60px;
  text-shadow: 0 0 0;
}

.banner-mobile button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
  font-size: 15px;
  padding: 10px 32px;
  margin: 25px 70px;
}

.banner-mobile button:hover {
  color: #e65925;
  background: white;
  transition: 0.5s;
}

.work-section h4 {
  padding-top: 60px;
}
}



/******* SMARTPHONE media quries 670px *******/

@media (max-width: 670px) {


/* Work Page */

.work-wrapper {
  display: none
}
 /* Our Work section */
 .work-wrapper {
  display: none
}

.work-wrapper-mobile {
  display: block;
  margin-top: 60px;
  text-align: center;
}
.work-wrapper-mobile h4 {
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #e65925;
  text-align: center;
  padding-bottom: 30px;
}

.work-wrapper-mobile h2 {
  margin: 25px 20px;
  font-size: 20px;
  font-family: 'Average', serif;
  font-style: italic;
  font-weight: 200;
  color: #515151;
  text-align: center;
}

.work-wrapper-mobile button {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
  font-size: 15px;
  padding: 10px 32px;
}
.work-wrapper-mobile button:hover {
  color: white;
  background: black;
  transition: 0.5s;
}

.projects-mobile img {
  width: 100%;
}

.projects-mobile {
  padding-bottom: 40px;
}




  /* Footer - mobile */

  .footer-wrap {
    display: block;
    min-height: 500px;
    padding-top: 40px;
}

.footer-contact h4 {
    text-transform: uppercase;
    font-size: 20px;
}

.footer-contact p {
    font-size: 18px;
}

.footer-follow {
    text-align: center;
    margin-top: 40px;
}

.footer-follow h4 {
    font-size: 20px;
    margin-top: 45px;
}

.footer-follow img {
    margin-top: 15px;
    padding-right: 20px;
    background: none;
    width: 70px;
}

.footer-follow img:hover {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}

.quick-links {
    text-align: center;
    margin-bottom: 15px;
}

.quick-links h4 {
    font-size: 20px;
    margin-top: 45px;
}

.quick-links ul li {
    margin-bottom: 20px;
}

.quick-links ul li a {
    font-size: 18px;
}
}